@model GBCSporting2021_TEC.Models.Incident

@{
    ViewBag.Title = "Incident Details";
}

<h2 class="my-3 my-md-4">Incident Details</h2>

<dl class="dl-horizontal">
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.aCustomer.Firstname)
    </dt>

    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.aCustomer.Firstname)
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.aProduct.Code)
    </dt>

    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.aProduct.Code)
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.aTechnician.Name)
    </dt>

    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.aTechnician.Name)
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Title)
    </dt>

    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Title)
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Description)
    </dt>

    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Description)
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.DateOpened)
    </dt>

    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.DateOpened)
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.DateClosed)
    </dt>

    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.DateClosed)
    </dd>
</dl>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Cancel", "List", null, new { @class = "btn btn-primary" })
</p>

