@model IEnumerable<GBCSporting2021_TEC.Models.Incident>

@{
    ViewBag.Title = "Incident Manager";
}

<h2 class="my-3 my-md-4">Incident Manager</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Customer
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOpened)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aCustomer.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOpened)
            </td>
            <td class="text-center">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
            </td>
            <td class="text-center">
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-primary" })
            </td>
        </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Add Incident", "Add", null, new { @class = "btn btn-primary" })
</p>