@model IEnumerable<GBCSporting2021_TEC.Models.Country>

@{
    ViewBag.Title = "Countries Manager";
}

<h2 class="my-3 my-md-4">Countries Manager</h2>


<table class="table table-bordered table-responsive-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-center">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    @Html.ActionLink("Add Country", "Add", null, new { @class = "btn btn-primary" })
</p>
