@{
    ViewBag.Title = "Home Page";
}
<div class="px-md-5 px-sm-2 pt-md-5 pb-md-4 p-sm-2">
    <h1>SportsPro Technical Support</h1>
    <p>Sports management software for the sports enthusiast</p>
</div>
<div class="row px-md-5 px-sm-2">
    <div class="col-md-6 mb-4">
        <h3>Admin</h3>
        <ul class="list-group">
            <li class="list-group-item">
                @Html.ActionLink("Manage Products", "List", "Products", null, new { @class = "nav-link" })
            </li>
            <li class="list-group-item">
                @Html.ActionLink("Manage Technicians", "List", "Technicians", null, new { @class = "nav-link" })
            </li>
            <li class="list-group-item">
                @Html.ActionLink("Manage Customers", "List", "Customers", null, new { @class = "nav-link" })
            </li>
            <li class="list-group-item">
                @Html.ActionLink("Manage Incidents", "List", "Incidents", null, new { @class = "nav-link" })
            </li>
            <li class="list-group-item">
                @Html.ActionLink("Manage Registrations", null, null, null, new { @class = "nav-link" })
            </li>
        </ul>

        <h3 class="mt-3">Technicians</h3>
        <ul class="list-group">
            <li class="list-group-item">
                @Html.ActionLink("Update Incident", "List", "Incidents", null, new { @class = "nav-link" })
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <div class="justify-content-center">
            @if (!Request.IsAuthenticated)
            {
                <h3>Login Form</h3>
                @Html.Partial("../Account/_LoginFormPartial")
            }
        </div>
    </div>        
</div>